<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>CMPT 213 Online Hangman Game</title>
</head>
<body>
<center>
    <img style="background-image" th:src="@{/images/pagenotfound.jpg}"/>
    <form action="#" th:action="@{/welcome}">
        <p> <input type="submit" value="Go back to welcome page" /> </p>
    </form>
</center>
</body>
<center><footer><small>&copy;Mark Angelo Monroy 2020</footer></center>

</html>